/*Clases reutilizables*/
 .text-uppercase {
  text-transform: uppercase;
}
/*titulo color*/
.title1{
  text-align: center;
  color: #212529;
  font-size: 50px;
  /*aplicando espaciado superior e inferior*/
  margin-top: 100px;
  margin-bottom: 10px;
}
/*espaciado laterales del ícono estrella*/
i {
  margin-left: 10px;
  margin-right: 10px;
}
/*aplicando el tipo de letra*/

h1{
  font-family: 'Montserrat', sans-serif;
}
p{
  font-family: 'Lato', sans-serif;
}

/*ejercicio*/
body {
  /*eliminando el margen y relleno del cuerpo*/
  padding: 0;
  margin : 0;
}

/*encabezado*/
header{
  background-color: #2c3e50;
  /*color de la letra*/
  color: white;
  /*ocupa todo el ancho del cuerpo*/
  width: 100%;
  height: 80px;
  /*posicionamiento fijo*/
  position: fixed;
  /*se aplica para que no se genere un espacio en la parte superior*/
  top:0;
  /*aplicando grosor a la letra*/
  font-weight: 900;
  /*se posciona encima como una capa*/
}

/*primer parrafo del encabezado*/
header h1{
  /*outline: 1px solid blue;*/
  /*toma el tamaño segun su contenido y no colisione con el menu*/
  display: inline-block;
  /*posicionamiento del parrafo*/
  margin-left: 150px;
  margin-top: 30px;
  font-size: 30px;
}

/*menú de navegación*/
header nav {
  /*outline: 1px solid red;*/
  /*posicionamiento para centrar el menú*/
  position: relative;
  bottom: 60px;
  right: 120px;
}

ul{
  /*quitar las viñetas*/
  list-style: none;
  /*quitar espacio de lado izquierdo  para que este a la altura del titulo*/
  margin: 0;
  padding: 0;
  /*espacio de cada item*/
  line-height: 40px;
  /*le devuelve al elemento contenedor para que vuelva a ser bloque*/
  overflow: auto;
}

li{
  /*outline: 1px solid green;*/
  width: 120px;
  /*la lista se posiciona en una linea pero sigue en bloque*/
  /*display: inline-block;*/
  text-align: center;
  /*sale del contenedor y no se ve, se debe de incorporar overflow*/
  float:right;
  font-size: 20px;
}

a{
  /*outline: 1px solid purple;*/
  /*quitando el subrayado*/
  text-decoration: none;
  /*ocupa el espacio de la etiqueta padre*/
  display: block;
  color: #fff;
}

/*cuando se posiciona el cursor el color del fondo y letra cambia*/
a:hover{
  /*background: #18bd9b*/
  color: #18bd9b;
}

/*primera seccion*/
#first-block{
  /*outline: 1px solid red;*/
  /*aplicando color de fondo*/
  background-color: #18bd9b;
  height: 670px;
}
/*imagen en la primera sección*/
#first-block img{
  /*centrando la imagen*/
  margin-left:40% ;
  margin-top: 150px;
  /*ancho*/
  width: 18%;
}
/*contenedor del texto*/
#first-block .text{
  /*centrando los textos en su interior*/
  text-align: center;
  color: white;
}
/*titulo de la primera sección*/
#first-block .text .title-white{
  /*outline: 1px solid red;*/
  font-size: 80px;
  /*espacio superior e inferior*/
  margin-bottom: 10px;
  margin-top: 20px;
}
/*posicionando la estrella blanca*/
#start-white{
  text-align: center;
  color: white;
  font-size: 40px;
}

/*aplicando línea laterale a la estrella*/
#start-white:after {
  /*no se aplica ningun texto*/
  content: " ";
  /*se posiciona al lado de la estrella*/
  display: inline-block;
  /*tamaño de la linea*/
  width: 100px;
  height: 5px;
  /*color de fondo*/
  background: white;
  /*posicionamiento al medio de la estrella*/
  margin-bottom: 10px;
}
#start-white:before {
  /*no se aplica ningun texto*/
  content: " ";
  /*se posiciona al lado de la estrella*/
  display: inline-block;
  /*tamaño de la linea*/
  width: 100px;
  height: 5px;
  /*color de fondo*/
  background: white;
  /*posicionamiento al medio de la estrella*/
  margin-bottom: 10px;
}

/*parráfo de la primera sección*/
.text p{
  font-size: 20px;
}

/*segunda sección*/
#second-block{
  height: 850px;
  /*aplicando relleno para que no quede un espacio entre las secciones*/
  padding-top: 10px;
  background-color: white;
}
/*icono-estrella negra*/
#start-black{
  /*centrando la estrella*/
  text-align: center;
  color: #2c3e50;
  font-size: 40px;
}
/*añadiendo líneas laterales*/
#start-black:after {
  content: " ";
  /*posicionando las lineas al costado de la estrella*/
  display: inline-block;
  /*tamaño*/
  width: 100px;
  height: 5px;
  /*color de fondo*/
  background: #2c3e50;
  /*posicionamiento al medio de la estrella*/
  margin-bottom: 10px;
}
#start-black:before {
  content: " ";
  /*posicionando las lineas al costado de la estrella*/
  display: inline-block;
  /*tamaño*/
  width: 100px;
  height: 5px;
  background: #2c3e50;
  /*posicionamiento al medio de la estrella*/
  margin-bottom: 10px;
}

/*container de las imágenes*/
#second-block .container{
  /*outline: 1px solid blue;*/
  /*posicionamiento en el centro*/
  margin:20px 30px 0px 120px;
}
/*columnas de las imágenes*/
#second-block .box{
  /*outline: 1px solid red;*/
  /*las imagenes se colocan en linea pero se mantiene en bloque*/
  display: inline-block;
  width: 300px;
/*espaciado laterales entre cda */
  margin-right: 30px;
}

#second-block img{
  width: 100%;
  margin-bottom: 30px;
}

/*tercera seccion*/
#third-block {
  background-color: #18bd9b;
  height: 700px;
}

/*título de la tercera sección*/
#third-block h1{
  text-align: center;
  color: white;
  margin:0;
  /*espaciado superior e inferior*/
  padding-top: 90px;
  padding-bottom: 10px;
  /*tamaño de la letra*/
  font-size: 50px;
}
/*contenedor de los parrafos*/
#third-block .paragraph{
  /*outline: 1px solid red;*/
  margin-left: 30%;
  width: 50%;
}
/*parráfos*/
#third-block .paragraph p{
  /*outline: 1px solid blue;*/
  width: 40%;
  /*se posicionan en una sola línea pero se mantienen en bloque*/
  display: inline-block;
  /*espaciado derecho entre cada parrafo*/
  margin-right:20px;
  color: white;
}
/*boton download*/
.button1{
  color: white;
  font-size: 18px;
  background-color: #18bd9b;
  /*posicionamiento en el centro*/
  margin-top: 20px;
  margin-left: 40%;
  /*relleno del boton*/
  padding: 10px;
  /*borde*/
  border: 2px solid white;
  /*borde circular*/
  border-radius: 10px;
}

/*cuarta sección*/
.fourth-block{
  /*outline: 1px solid red;*/
  height: 700px;
  /*aplicando relleno para que no exista un espacio entre secciones*/
  padding-top: 10px;
}
/*formulario*/
form{
  width: 40%;
  /*posicionamiento a la izquierda*/
  margin-left: 25%;
  margin-top: 20px;
  /*relleno del formulario*/
  padding: 10px;
}
/* selector por atributo*/
input[type="text"]{
  /*espaciado entre cada entrada*/
  margin-bottom: 10px;
  padding-bottom: 20px;
  border: none;
  /*borde inferior*/
  border-bottom: 1px solid #808080;
  /*posicionamiento debajo de uno*/
  display: block;
  color: #808080;
  font-size: 25px;
  width: 90%;
}
/*selector atributo al item message*/
textarea[type="msg"]{
  color:  #808080;
  font-size: 25px;
  /*aplicando relleno para que sea más grande*/
  padding-bottom: 20px;
  padding-right: 200px;
  border: none;
  /*aplicando borde inferior*/
  border-bottom: 1px solid #808080;
}
/*boton del formulario*/
.button2{
  color: white;
  font-size: 18px;
  background-color: #18bd9b;
  /*posicionamiento en el centro*/
  margin-top: 20px;
  margin-left:5px;
  /*relleno del boton*/
  padding: 10px;
  /*borde*/
  border: 2px solid white;
  /*borde circular*/
  border-radius: 10px;
}

/*pie de pagina*/
footer{
  background-color: #2c3e50;
  height: 280px;
  color: white;
  /*outline:1px solid blue;*/
}
/*contendenor de las tres columnas*/
footer .container1{
  /*outline:1px solid blue;*/
  width: 90%;
  margin-left: 80px;
  /*encierra a los elementos flotantes dentro del contenedor*/
  overflow: auto;
}
/*columnas del pie de página*/
footer .container1 .box1{
  /*tamaño*/
  width: 30%;
  height: 200px;
  /*posicionamineto a la izquierda de cada columna*/
  float: left;
  /*margen superior */
  margin-top: 20px;
  /*espaciado derecho entre las columnas*/
  margin-right: 30px;
  text-align: center;
}
/*título de pie de página*/
footer .title-footer{
  color: white;
  font-size: 30px;
  /*margen entre el título y el parráfo*/
  margin-bottom: 40px;
}

/*círculo que contiene al ícono*/
footer .box1 div{
  /*se colocan uno tras otroen una línea*/
  display: inline-block;
  border: 2px solid white;
  /*tamaño del circulo*/
  width: 60px;
  height: 60px;
  /*borde circular*/
  border-radius: 40px;
}
footer .box1 p{
  font-size: 20px;
}
/*iconos-footer*/
footer .box1 div i{
  text-align: center;
  font-size: 20px;
  /*posicionamiento en el centro del circulo*/
  margin-left: 8px;
  margin-top: 20px;
}
/*texto en la tercera columna*/
footer .box1 .text-green{
  color:  #18bd9b;
}
/*último texto*/
footer .container1 .last-block  {
  text-align: center;
  font-size: 15px;
  margin-right: 50px;
  margin-top: 260px;
  margin-bottom: 0;
}
